header {
  margin: 20px;
  padding: 10px 0px 0px 0px;
  background-color: antiquewhite;
}

nav {
  margin-top: 15px;
  padding: 5px;
  background-color: azure;
  text-align: right;
}

.header-title {
  margin: -5px 0 0 -5px;
  padding: 0 15px;
  color: white;
}

.links {
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
}

.product-card {
  /* padding: 2%; */
  padding: 20px;
  margin: 15px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  width: 200px;
}

.product-card img {
  border: 1px solid blue;
  max-width: 200px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .product-info {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
} */

.product-card:hover {
  background-color: aliceblue;
}

.product-info {
  margin-top: auto;
}

.cart-column {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin: 15px;
}

.cart-sum {
  width: 75px;
  margin: 0 30px 20px 0;
  align-self: flex-end;
}

.cart-order {
  width: 75px;
  margin: 0 30px 20px 0;
  align-self: flex-end;
}

.cart-items {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.cart-item {
  border: 1px solid green;
  padding: 0 5px;
  margin: 5px;
}

.cart-items img {
  border: 1px solid green;
  max-width: 50%;
}
